
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

@font-face {
  font-family: 'Open Sans-Regular';
  src: url(../fonts/OpenSans-Regular.ttf) format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans-Bold';
  src: url(../fonts/OpenSans-Bold.ttf) format('ttf');
  font-weight: 700;
  font-style: normal;
}


.header {
  background-image: url(../images/banner-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 0;
  background-size: cover;
  padding: 30px 0; 
  background-color: #000000;
  position: relative;
  display: flex;
}


.header::after {
  content: "";
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.7;
}


.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px; 
  z-index: 1;
  
}


.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}


.logo {
  display: inline-block;
}


.nav-link {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Open Sans-Regular', sans-serif;
}


.nav-list {
  display: flex;
  list-style-type: none;
}


.nav-item:not(:first-child) {
   margin-left: 20px; 
}


.header-title {
  font-family: 'Open Sans-Bold', sans-serif;
  color:#ffffff;
  font-size: 45px;
  text-align: center;
  max-width: 800 px;
  margin: auto;
  padding: 140px 245px 145px;
  text-transform: uppercase;
}


.nav-link:hover {
  color:yellow;
}



.trends-container {
  width: 100%;
  margin-top: 65px;

}

.post-title-trends {
  font-family: 'Open Sans-Bold', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 40px;
  align-items: center;
  justify-content: center;
  position: relative;
  display: flex;
  

}

.post-title-trends::after {
  content: "";
  position: absolute;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  opacity: 0.4;
  top: 30px;
  #right:726px;
}


.trends-body {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 65px;
  flex-wrap: wrap;
}

.trends-interior {
  background-image: url(../images/trend1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 0;
  background-size: cover;
  width: 24.8%;
  min-height: 320px;
  position: relative;
  display: flex;
}

.trends-title {
  font-family: 'Open Sans-Bold', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  color: #ffffff;
  padding-top: 10px;
}


.trends-title:hover {
  cursor: pointer;
  color: #ffffff;
}


.trends-block-body::after {
  content: "";
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
}


.trends-block-body {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}


.trends-block {
  margin: 20px;
  padding: 30px;
  border: 3px;
  border-color: transparent;
  z-index: 2;
}


.trends-block:hover {
  padding: 30px;
  border: 3px solid #b59f5b;
}


.trends-food {
  background-image: url(../images/trend2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 0;
  background-size: cover;
  width: 24.8%;
  min-height: 320px;
  position: relative;
  display: flex;
}


.trends-travel {
  background-image: url(../images/trend3.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 0;
  background-size: cover;
  width: 24.8%;
  min-height: 320px;
  position: relative;
  display: flex;
}


.trends-health {
  background-image: url(../images/trend4.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 0;
  background-size: cover;
  width: 24.8%;
  min-height: 320px;
  position: relative;
  display: flex;
}


.content {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
}


.content-wrapper {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
}


.content-main {
  width: 780px;
}


.article {
  display: flex;
  width: 260px;
}


.news {
  display: flex;
}


.news:not(:last-child){
  margin-bottom: 60px;
}

 
.nav-list-news {
  display: flex;
  font-family: 'Open Sans-Bold', sans-serif;
  text-transform: uppercase;
  list-style-type: none; 
}


 .news-travel-health {
   margin-left: 30px;
}


.naw-item-news {
  display: flex;
  z-index: 5;
}


.nav-link-news {
  display: flex;
  color:#998c48;
  text-decoration: none;
  margin-right: 20px;
  font-family: 'Open Sans-Bold', sans-serif;
  font-size: 14px;
}


.nav-link-news:hover {
  color:yellow;
}


.news-title {
  display: flex;
  width: 365px;
  text-transform: uppercase;
  font-family: 'Open Sans-Bold', sans-serif;
  font-size: 20px;  
}


.naw-news {
  display: flex;
  justify-content: space-between;  
}


.news-content {
  font-family: 'Open Sans-Regular', sans-serif;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px; 
 }


.author {
 font-family: 'Open Sans-Bold', sans-serif;
 font-size: 12px;
 color: #000000;
 text-decoration: none; 
}


.author:hover {
  color:yellow;
}


.news-datetime {
 font-family: 'Open Sans-Regular', sans-serif;
 font-size: 12px;
 width: 90px;
}


.author-date {
 display: flex;
 flex-wrap: nowrap;
 justify-content: space-ewenly;
 line-height: 100px; 
}


.content-aside {
  width: 272px;
}


.post-title-new {
 display: flex;
 font-family: 'Open Sans-Bold', sans-serif;
 font-size: 14px;
 text-transform: uppercase; 
 margin-bottom: 40px;
 align-items: center;
 justify-content: center;
  position: relative;
}


.post-title-new::after {
  content: "";
  position: absolute;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  opacity: 0.4;
  top: 30px;
  right:102px;
  
}


.post-title-link {
 text-decoration: none;
 color: #000000; 
}


.post-title-link:hover {
  color:yellow;
}


.new-post {
  display: flex;
  margin-bottom: 20px; 
}


.time-post {
  display: flex;
  flex-flow: column;
  margin-left: 20px;
}


.search {
  display: flex;
  width: 272px;
  margin: 60px 0 60px;
}


.search-group {
  display: flex;
}


.field {
  dox-sizing: border-box;
  max-width: 222px;
  height: 50px;
  padding: 20px;
  background-color: #f4f7f6;
  font-family: 'Open Sans-Regular', sans-serif;
  font-size: 13px;
  border: 1px solid #f4f7f6; 
}


.button {
  border: 1px solid #b59f5b;
  background-color: #b59f5b;
  background-image: url("../svg/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  width: 50px;
  cursor: pointer;
  
}


.button-search {
  opacity: 0;
  visibility: hidden;

}


.mailing {
  width: 272px; 
}


.mailing-post{
  dispaly-flex;
  
}


.email{
  dox-sizing: border-box;
  width: 272px;
  height: 50px;
  padding: 20px;
  background-color: #f4f7f6;
  font-family: 'Open Sans-Regular', sans-serif;
  font-size: 13px;
  border: 1px solid #f4f7f6;
}


.subscribe-mailing{
  border: 1px solid #b59f5b;
  background-color: #b59f5b;
  width: 272px;
  height: 50px;
  font-family: 'Open Sans-Bold', sans-serif;
  font-size: 14px;
  color: #f4f7f6;
  text-transform: uppercase;
  cursor: pointer;
}


.tags{
  margin-top: 60px;
}


.tags-list{
  display: flex;
  flex-wrap: wrap;
}


.tags-item{
  list-style-type: none;
  border: 3px solid #f4f3f1;
  margin: 0 5px 5px 0;


}
.tags-link{
  color: #0f0d0e;
  text-decoration: none;
  font-family: 'Open Sans-Bold', sans-serif;
  font-size: 14px;
  padding: 0 13px;  
}


.tags-link:hover {
  color:yellow;
}


.topics{
  margin-top: 60px;
}


.topics-list{
  display: block;
}


.topics-item{
  list-style-type: none;
  border-bottom: 1px solid #eeeeee;
  padding: 15px 0;
  
}


.topics-link{
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Open Sans-Bold', sans-serif;
  font-size: 14px;
}


.topics-link:hover {
  color:yellow;
}

.index{
  font-family: 'Open Sans-Bold', sans-serif;
  font-size: 12px;
  color: #b59f5b;
  margin-left: 5px;  
}


.index:hover {
  color:yellow;
}

.goods-container {
  width: 100%;
  margin-top: 64px;
}

.post-title-goods {
  font-family: 'Open Sans-Bold', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 40px;
  align-items: center;
  justify-content: center;
  position: relative;
  display: flex;
}

.post-title-goods::after {
  content: "";
  position: absolute;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  opacity: 0.4;
  top: 30px;
}

.goods-body {
  display: flex;
  width: 100%;
  justify-content: space-evenly;  
}

.news-content-goods {
  font-family: 'Open Sans-Regular', sans-serif;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.goods-card {
  width: 25%;
  display: flex;
  flex-direction: column;
}

.goods-block-one {
 margin: -25px -10px -20px -10px;
 padding: 35px 10px 20px 10px;
 flex-grow: 1;
 display: flex;
 flex-direction: column;
 outline: 3px solid #b59f5b;
 outline-offset: 8px; 
}

.goods-block-two {
 margin: -25px -10px -20px -10px;
 padding: 35px 10px 20px 10px;
 flex-grow: 1;
 display: flex;
 flex-direction: column;
 outline: 3px solid #b59f5b;
 outline-offset: 8px; 
}

.goods-block-three {
 margin: -25px -10px -20px -10px;
 padding: 35px 10px 20px 10px;
 flex-grow: 1;
 display: flex;
 flex-direction: column;
 outline: 3px solid #b59f5b;
 outline-offset: 8px;
}

.product__button {
  width: 140px;
  height: 50px;
  color: #f9f9f9;
  margin-top: 20px;
  font-size: 14px;
  font-family: 'Open Sans-Bold',sans-serif;
  text-transform: uppercase;
  background-color: #b59f5b;
  border: 2px solid #b59f5b;
}

.product__button:hover {
  outline: 2px solid #b59f5b;
  outline-offset: 4px;
}

.product__footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.news-content-link {
  text-decoration: none;
  color: #b59f5b;
}

.product__price {
  font-size: 20px;
  font-family: 'Open Sans-Bold',sans-serif;
  font-weight: 700;
  color: #222;
  line-height: 1;
  display: flex;
}

.product__price_old {
  text-decoration: line-through;
  font-size: 14px;
  font-family: 'Open Sans-Bold',sans-serif;
  margin-bottom: 5px;
}

.product__rub {
  margin-left: 5px;
}

.footer {
 margin-top: 65px; 
}

.social {
  background-color: #f4f7f6;
  padding: 30px 0;
}

.social-network {
  display: flex;
  justify-content: center;
  align-items: center;  
}


.network-item {
  list-style-type: none;
  margin-right: 30px; 
}


.network-link {
  display: block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
}


.network-link:hover {
  background-size: 22px;
}


.network-link-twitter {
  background-image: url("../svg/004-twitter.svg");
}


.network-link-pinterest {
  background-image: url("../svg/001-pinterest.svg");
}


.network-link-facebook {
  background-image: url("../svg/002-facebook-logo.svg");
 }


.network-link-instagram {
  background-image: url("../svg/005-instagram.svg");
 }


.network-link-tumblr {
  background-image: url("../svg/003-tumblr.svg");
 }

  
.visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}
  

.copyrights {
  margin-top: 75px;
  margin-bottom: 40px;
  text-align: center;
}


.copyright {
  text-decoration: none;
  color: #999999;
  font-size: 12px;
  font-family: 'Open Sans-Bold', Arial, sans-serif;
}

.container__popup {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  position: fixed;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  background-color: #fff;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
}


.popup {
  display: flex;
  position: relative;
  z-index: 2;
  background-color: #fff;
  max-width: 350px;
  padding-bottom: 30px;
}

.container__popup::after {
  content: "";
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.85;
}


.popup__title {
  text-transform: uppercase;
  font-family: 'Open Sans-Bold', sans-serif;
  font-size: 18px;
  text-align: center;
  padding: 40px 0;
}


.popup__title::after {
  content: "";
  position: absolute;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  opacity: 0.4;
  top: 65px;
  right: 142px;  
}

.popup-close {
  width: 28px;
  height: 28px;
  padding: 0;
  border: none;
  cursor: pointer;
  position: absolute;
  top: -36px;
  right: 1px;
  background-image: url("../svg/form-x.svg");
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
}

.popup-close-text {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px 1px 1px 1px);
}

.select-label {
  font-family: 'Open Sans-Regular', sans-serif;
  font-size: 13px;
  padding-left: 20px;
}

.select {
  display: flex;
  width: 90%;
  height: 38px;
  padding-left: 10px;
  padding-right: 25px;
  margin: 20px; 
  border: 1px solid #f9f9f9;
  background-color: #f9f9f9;
  color: #000;
  font-size: 13px;
  font-family: 'Open Sans-Regular',sans-serif;
  opacity: 0.54;
  -webkit-appearance: none;
  -moz-appearance: none; 
  background-image: url("../svg/form-arrows.svg");
  background-repeat: no-repeat;
  background-position:  right 10px center;
  background-size: 10px;
}

.select:focus {
  outline: 2px solid #b59f5b;
  outline-offset: 4px;
}

.checkbox-text-form {
  margin-left: 20px;
  font-size: 13px;
  font-family: 'Open Sans-Regular',sans-serif;
}

.checkbox-text {
  display: inline-block;
  margin-left: 20px;
  font-size: 13px;
  font-family: 'Open Sans-Regular',sans-serif;
}

.checkbox-text::before {
  margin-right: 8px;
  content: "";
  display: inline-block;
  background-position: center center;
  width: 20px;
  height: 20px;
  background-image: url("../svg/form-empty-circle.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;  
}

.checkbox:checked ~ .checkbox-text::before {
  background-image: url("../svg/form-circle.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;  
}

.checkbox {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
}

.span__text {
  display: flex;
  font-size: 13px;
  font-family: 'Open Sans-Regular',sans-serif;
  margin: 20px;
}
  
input[type="field__text"] {
  width: 90%;
  padding-bottom: 100px;
  padding-left: 30px;
  padding-top: 30px;
  margin: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  border: none;
  background-color: #f9f9f9;
}

.button__popup {
  width: 90%;
  height: 50px;
  color: #f9f9f9;
  margin: 20px;
  font-size: 14px;
  font-family: 'Open Sans-Bold',sans-serif;
  text-transform: uppercase;
  background-color: #b59f5b;
  border: 2px solid #b59f5b;
}

.button__popup:hover {
  outline: 2px solid #b59f5b;
  outline-offset: 4px;
}

@media (max-width: 640px) and (orientation: portrait) {

.header {
  background-image: url(../images/banner-mobile.jpg);
  width: 100%;
 }

 .container {
  width: 100%;
 }

 .trends-container {
  display: flex;
  flex-wrap: wrap;
 }

 .trends-interior {
  width: 98%;
  margin-bottom: 5px;
 }

 .trends-food {
  width: 98%;
  margin-bottom: 5px;
 }

 .trends-travel {
  width: 98%;
  margin-bottom: 5px;
 }

 .trends-health {
  width: 98%;
  margin-bottom: 5px;
 }

 .goods-body {
  display: flex;
  flex-wrap: wrap;
 }

 .goods-card {
  width: 48%;
 }
}


@media (min-width: 641px) and (max-width: 1200px) and (orientation: portrait) {

.header {
  background-image: url(../images/banner-bg-tablet.jpg);
  width: 100%;
 }

 .container {
  width: 100%;
 }

  .header-title {
  font-size: 40px;
  width: 100%;
  padding: 125px 45px;
 }

  .trends-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
 }

 .trends-interior {
  width: 49.7%;
  margin-bottom: 5px;
 }

 .trends-food {
  width: 49.7%;
  margin-bottom: 5px;
 }

 .trends-travel {
  width: 49.7%;
  margin-bottom: 5px;
 }

 .trends-health {
  width: 49.7%;
  margin-bottom: 5px;
 }

 .goods-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: ;
 }

 .goods-card {
  width: 40%;

 }
}




@media (min-width: 641px) and (max-width: 1200px) and (orientation: landscape) {

 .container {
  width: 100%;
 }

  .header-title{
  font-size: 40px;
  width: 100%;
  padding: 125px 45px;
 }

  .post-title-trends { 
  justify-content: center;
  align-items: center;
 }

 .trends-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;

 }

 .trends-interior {
  width: 24.8%;
 }

 .trends-food {
  width: 24.8%;
 }

 .trends-travel {
  width: 24.8%;
 }

 .trends-health {
  width: 24.8%;
 }
}

@media (max-width: 640px) and (orientation: landscape) {

 .container {
  width: 100%;
 }

 .trends-container {
  display: flex;
  flex-wrap: wrap;
 }

 .trends-interior {
  width: 48%;
  margin-bottom: 5px;
 }

 .trends-food {
  width: 48%;
  margin-bottom: 5px;
 }

 .trends-travel {
  width: 48%;
  margin-bottom: 5px;
 }

 .trends-health {
  width: 48%;
  margin-bottom: 5px;
 }

 .goods-body {
  display: flex;
  flex-wrap: wrap;
 }

 .goods-card {
  width: 48%;
 }
}









